<ul class="nav">
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a>
    </li>
    {{/foreach}}
    {{#if isSecondary}}
    {{> social-links}}
    {{/if}}
</ul>