/* Sharing Links
/* ---------------------------------------------------------- */

.sharing {
    text-align: center;
    margin: 20px 0;
}

.share-links {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.share-link {
    margin-left: 10px;
    transition: 0.4s ease;
    fill: var(--color-faded);
}

.share-link svg {
    position: relative;
    top: -0.2rem;
    height: 2.6rem;
}

.share-link-facebook:hover {
    fill: var(--color-facebook);
}

.share-link-twitter:hover {
    fill: var(--color-twitter);
}

.share-link-whatsapp:hover {
    fill: var(--color-whatsapp);
}

.share-link-email:hover {
    fill: var(--color-email);
}

.share-link-whatsapp {
    display: none;
}

@media (max-width: 850px) {
    .share-link {
        transition: none;
    }

    .share-link-facebook {
        fill: var(--color-facebook);
    }
    
    .share-link-twitter {
        fill: var(--color-twitter);
    }
    
    .share-link-whatsapp {
        display: list-item;
        fill: var(--color-whatsapp);
    }
    
    .share-link-email {
        fill: var(--color-email);
    }
}